.logo
{
    border-radius: 10px;
    background-color: aliceblue;
}

.bg-orange
{
    background-color: orange;
}

.bg-white
{
    background-color: black;
    color: black;
    font-weight: 700;
    font-size: large;
}